@font-face {
    font-family: 'hanken';
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf)
    format(truetype);

}

@media screen and (min-width: 768px) and (max-width:992px){
    *{
        font-family: 'hanken';
        margin: 0px;
        padding: 0;
    }
    header{
        background-color: red;
        width: 400px;
        height: 400px;
        display:block ;
    }
    #caixa{
        background-color: black;
        width: 400px;
        height: 400px;
        color: white;
        
    }
    footer{
        background-color: green;
        display: none;
    }
    
}   