/* versao de mobile */

@font-face {
    font-family:'hanken';
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
}

@media screen and (max-width: 600px) and (min-width:300px){
    
    *{
        padding: 0;
        margin: 0;
        font-family: 'hanken';
    }
    
    /*cabeçalho */

    header{
        background-image: linear-gradient(#533af6 ,#533af6);
        color: white;
        padding: 30px;
        border-radius: 0px 0px 35px 35px;
    }
    header > h1{
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .opacidade{
        color: rgba(255, 255, 255, 0.637);
    }
    header > p{
        text-align: center;
    }
    header > div#circle{
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.39) 2%, rgba(0, 0, 0, 0.24) 20%);
        margin: auto;
        border-radius: 100%;
        width: 150px;

    }
    div > p#resultado{
        font-size: 85px;
        padding-top: 10px;
        
    }
    div > p#total{
        padding-bottom: 10px;
    }

    /*main */
    main{
        margin: auto;
    }
    main > h1{
        padding: 20px;
        font-size: 1.5em;
    }
    
    /*item 1 */

    main > div#item1{
        background-color: rgba(255, 0, 0, 0.151);
        display: flex;
        border-radius: 25px;
        width: 380px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px
        
    }
    div > p#materia1{
        padding: 10px;
        color: rgba(255, 0, 0, 0.61);
        font-weight: bolder;
    }
    div >img#img1{
        padding: 10px;
    }
    div > p#resul1{
        padding: 10px 0px 10px 200px;
        color: black;
        font-weight: bolder;
        
    }

    /*item 2*/

    div#item2{
        background-color: rgba(255, 255, 0, 0.100);
        display: flex;
        border-radius: 25px;
        width: 380px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px
    }
    div > img#img2{
        padding: 10px;
    }
    div > p#materia2{
        padding: 10px;
        color: #e0b463;
        font-weight: bolder;
    }
    div > p#resul2{
        padding: 10px 0px 10px 186px;
        color: black;
        font-weight: bolder;
        
    }

    /* item 3 */
    
    #item3{
        background-color:#60d5b070;
        display: flex;
        border-radius: 25px;
        width: 380px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px
    }
    div > img#img3{
        padding: 10px;
    }
    div > p#materia3{
        padding: 10px;
        color: #60D5AF;
        font-weight: bolder;
    }
    div > p#resul3{
        padding: 10px 0px 10px 205px;
        color: black;
        font-weight: bolder;   
    }

    /* item 4 */

    #item4{
        background-color:#658ad965;
        display: flex;
        border-radius: 25px;
        width: 380px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px
    }
    div > img#img4{
        padding: 10px;
    }
    div > p#materia4{
        padding: 10px;
        color: #658ad9;
        font-weight: bolder;
    }
    div > p#resul4{
        padding: 10px 0px 10px 208px;
        color: black;
        font-weight: bolder;   
    }

    div > p.resulc{
        padding-bottom: 10px;
        padding-top:10px ;
        padding-left: 0px;
        color: rgba(0, 0, 0, 0.521);
        font-weight: bolder;   
    }
    

    /* botao */

    #botao{
        background-color:#533af6 ;
        width: 250px;
        border-radius: 45px;
        cursor: pointer;
        width: 250px;
        margin: auto;

    }
    div > h1#cont{
        color: white;
        text-align: center;
        padding: 10px;
        
    }
    div > h1#cont:hover{
        background-color: #303B59;
        border-radius: 45px;
    }
    /*exclusoes*/
    div#item1 > img#img1d{
        display: none;
    }
    div#item2 > img#img2d{
        display: none;
    }
    div#item3 > img#img3d{
        display: none;
    }
    div#item4 > img#img4d{
        display: none;
    }
    div#botaodesktop{
        display: none;
    }
}